@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Pixels&display=swap');

:root {
  --nav-height: 8.125rem;
  --background-color: #2E2B2B;
  --color-text: white;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: background 1s ease;
}

html {
  font-size: 62.5%;
  max-width: 100%;
}

body {
  background: var(--background-color);
  box-sizing: border-box;
  height: 100vh;
}

.logo {
  font-size: 4em;
  font-family: 'Rubik Pixels', cursive;  
  margin: 1em;
  color: white;
}

.text {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
  font-size: 3em;
  margin-top: 12em;
  font-weight: bold;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

button {
  background-color: #D9D9D9;
  color: black;
  text-align: center;
  border: none;
  text-decoration: none;
  font-size: 3em;
  margin: 4em;
  top: 50%; 
  left: 50%;
}

#enterBtn {
  cursor: pointer;
  margin: 30px -50px; 
  top: 50%; 
  left: 50%;
  border-radius: 6px;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .4em;
  padding-bottom: .4em;
}

#verifyBtn {
padding: .4em;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#verifyBtn {
  margin:0em
}